@inject HttpClient Client
@inject CodeIndex.Common.Storage Storage
@inject CodeIndexConfiguration Config
@inject NavigationManager MyNavigationManager

<div class="row">
    <div class="col-sm">
        <h3>Search Page@(Suffix)</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-10">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Content</span>
            </div>
            <input type="text" class="form-control" placeholder="Put Your Content Here" aria-label="Put Your Content Here" @bind-value="@Request.Content" @bind-value:event="oninput" @onkeyup="@(async e => await KeyPressForContent(e))" maxlength="1000" />
        </div>
    </div>
    <div class="col-sm-2">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Phase Query</span>
            </div>
            <input type="checkbox" class="form-control" @bind="Request.PhaseQuery">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">File Name</span>
            </div>
            <input type="text" class="form-control" placeholder="Put Your File Name Here" aria-label="Put Your File Name Here" @bind-value="@Request.FileName" @bind-value:event="oninput" @onkeydown="@(async e => await KeyPress(e))" maxlength="200" />
        </div>
    </div>
    <div class="col-sm">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">File Extension</span>
            </div>
            <input type="text" class="form-control" placeholder="Put Your File Extension Here" aria-label="Put Your File Extension Here" @bind-value="@Request.FileExtension" @bind-value:event="oninput" @onkeydown="@(async e => await KeyPress(e))" maxlength="20" />
        </div>
    </div>
    <div class="col-sm">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">File Location</span>
            </div>
            <input type="text" class="form-control" placeholder="Put Your File Path Here" aria-label="Put Your File Path Here" @bind-value="@Request.FilePath" @bind-value:event="oninput" @onkeydown="@(async e => await KeyPress(e))" maxlength="1000" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="input-group mb-3">
            <button type="button" class="btn btn-primary" @onclick="SearchLuceneIndex">Search</button>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Index Name</span>
            </div>
            <select class="form-control" @bind="@Request.IndexPk">
                @if (IndexConfigs != null)
                {
                    foreach (var indexConfig in IndexConfigs)
                    {
                        <option value="@indexConfig.Pk">@indexConfig.IndexName</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Show Results</span>
            </div>
            <select class="form-control" @bind="Request.ShowResults">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Case Sensitive</span>
            </div>
            <input type="checkbox" class="form-control" @bind="Request.CaseSensitive">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="input-group mb-3">
            @if (FetchStatus != null && !FetchStatus.Value)
            {
                <div class="alert alert-danger normal-alert-div" role="alert">
                    @StatusDesc
                </div>
            }
            else if (FetchStatus ?? false)
            {
                <div class="alert alert-success" role="alert">
                    Post Success, Find Results: @ResultCount
                </div>
            }
            else
            {
                <div class="alert alert-info" role="alert">
                    Waiting For Search
                </div>
            }
        </div>
    </div>
    <div class="col-sm-8">
        <div class="input-group mb-3">
            @if (!HintWords?.Status?.Success ?? false)
            {
                <div class="alert alert-danger normal-alert-div" role="alert">
                    @HintWords.Status.StatusDesc
                </div>
            }
            else if (HintWords?.Status?.Success ?? false)
            {
                <div class="alert alert-success" role="alert">
                    @if (HintWords.Result.Any())
                    {
                        <text>Find Hints: @string.Join(", ", HintWords.Result)</text>
                    }
                    else
                    {
                        <text>No Hint</text>
                    }
                </div>
            }
            else
            {
                <div class="alert alert-info" role="alert">
                    Wait Input
                </div>
            }
        </div>
    </div>
</div>

@if (SearchWithLineNumber)
{
    <SearchingWithLineNumber ContentQuery="@Request.Content" CurrentIndexConfig="@CurrentIndexConfig" FetchResult="@FetchResultWithLineNumber" IndexPk="@Request.IndexPk" CaseSensitive="@Request.CaseSensitive" PhaseQuery="@Request.PhaseQuery"/>
}
else
{
    <SearchingWithFile ContentQuery="@Request.Content" CurrentIndexConfig="@CurrentIndexConfig" FetchResult="@FetchResult" IndexPk="@Request.IndexPk" CaseSensitive="@Request.CaseSensitive" PhaseQuery="@Request.PhaseQuery"/>
}

@code {
    public SearchRequest Request { get; set; } = new SearchRequest { ShowResults = 20, ForWeb = true, Preview = true, NeedReplaceSuffixAndPrefix = true };

    public bool SearchWithLineNumber => MyNavigationManager.Uri.Contains("/SearchWithLine");

    public string Suffix => SearchWithLineNumber ? " - With Matched Line Number" : string.Empty;

    public FetchResult<IEnumerable<CodeSource>> FetchResult { get; set; }

    public FetchResult<IEnumerable<CodeSourceWithMatchedLine>> FetchResultWithLineNumber { get; set; }

    public bool? FetchStatus => FetchResult?.Status.Success ?? FetchResultWithLineNumber?.Status.Success;

    public int ResultCount => FetchResult?.Result.Count() ?? FetchResultWithLineNumber?.Result.Count() ?? 0;

    public string StatusDesc => FetchResult?.Status.StatusDesc ?? FetchResultWithLineNumber?.Status.StatusDesc ?? string.Empty;

    public FetchResult<IEnumerable<string>> HintWords { get; set; }

    public IndexConfigForView[] IndexConfigs { get; set; }

    public IndexConfigForView CurrentIndexConfig => IndexConfigs?.FirstOrDefault(u => u.Pk == Request.IndexPk) ?? (empty ??= new IndexConfigForView());

    IndexConfigForView empty;

    bool IsSearching;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Request = Storage.GetValue(nameof(Request)) as SearchRequest ?? Request;
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        try
        {
            var listResult = await Client.GetJsonAsync<FetchResult<IndexConfigForView[]>>($"{Config.LocalUrl}api/lucene/GetIndexViewList");
            if (listResult.Status.Success)
            {
                IndexConfigs = listResult.Result;
            }
            else
            {
                IndexConfigs = Array.Empty<IndexConfigForView>();
            }
        }
        catch
        {
            IndexConfigs = Array.Empty<IndexConfigForView>();
        }

        if (IndexConfigs.All(u => u.Pk != Request.IndexPk))
        {
            Request.IndexPk = IndexConfigs.FirstOrDefault()?.Pk ?? Guid.Empty;
        }

        if (!Request.IsEmpty)
        {
            await SearchLuceneIndex();
        }
    }

    async Task SearchLuceneIndex()
    {
        if (IsSearching)
        {
            return;
        }

        Storage.SetOrUpdate(nameof(Request), Request);

        IsSearching = true;
        FetchResult = null;
        FetchResultWithLineNumber = null;

        try
        {
            if (SearchWithLineNumber)
            {
                if (!Request.IsEmpty)
                {
                    try
                    {
                        var response = await Client.PostAsJsonAsync($"{Config.LocalUrl}api/lucene/GetCodeSourcesWithMatchedLine", Request);

                        if (response.IsSuccessStatusCode)
                        {
                            FetchResultWithLineNumber = await response.Content.ReadFromJsonAsync<FetchResult<IEnumerable<CodeSourceWithMatchedLine>>>();
                        }
                        else
                        {
                            FetchResultWithLineNumber = new FetchResult<IEnumerable<CodeSourceWithMatchedLine>>()
                            {
                                Status = new Status()
                                {
                                    Success = false,
                                    StatusDesc = await response.Content.ReadAsStringAsync()
                                }
                            };
                        }
                    }
                    catch (Exception ex)
                    {
                        FetchResultWithLineNumber = new FetchResult<IEnumerable<CodeSourceWithMatchedLine>>()
                        {
                            Status = new Status()
                            {
                                Success = false,
                                StatusDesc = ex.Message
                            }
                        };
                    }
                }
                else
                {
                    FetchResultWithLineNumber = new FetchResult<IEnumerable<CodeSourceWithMatchedLine>>()
                    {
                        Status = new Status()
                        {
                            Success = false,
                            StatusDesc = "Search query or index name can't be empty"
                        }
                    };
                }
            }
            else
            {
                if (!Request.IsEmpty)
                {
                    try
                    {
                        var response = await Client.PostAsJsonAsync($"{Config.LocalUrl}api/lucene/GetCodeSources", Request);

                        if (response.IsSuccessStatusCode)
                        {
                            FetchResult = await response.Content.ReadFromJsonAsync<FetchResult<IEnumerable<CodeSource>>>();
                        }
                        else
                        {
                            FetchResult = new FetchResult<IEnumerable<CodeSource>>()
                            {
                                Status = new Status()
                                {
                                    Success = false,
                                    StatusDesc = await response.Content.ReadAsStringAsync()
                                }
                            };
                        }
                    }
                    catch (Exception ex)
                    {
                        FetchResult = new FetchResult<IEnumerable<CodeSource>>()
                        {
                            Status = new Status()
                            {
                                Success = false,
                                StatusDesc = ex.Message
                            }
                        };
                    }
                }
                else
                {
                    FetchResult = new FetchResult<IEnumerable<CodeSource>>()
                    {
                        Status = new Status()
                        {
                            Success = false,
                            StatusDesc = "Search query or index name can't be empty"
                        }
                    };
                }
            }
        }
        finally
        {
            IsSearching = false;
        }
    }

    async Task KeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await SearchLuceneIndex();
        }
    }

    async Task KeyPressForContent(KeyboardEventArgs e)
    {
        if (e.Key != "Enter" && Request.Content != null && !Request.Content.EndsWith(" ") && Request.IndexPk != Guid.Empty)
        {
            var inputWord = Request.Content.Split(" ", StringSplitOptions.RemoveEmptyEntries).LastOrDefault();
            if (inputWord?.Length >= 3)
            {
                HintWords = await Client.GetJsonAsync<FetchResult<IEnumerable<string>>>($"{Config.LocalUrl}api/lucene/GetHints?word=" + System.Web.HttpUtility.UrlEncode(inputWord) + "&indexPk=" + Request.IndexPk);
            }
        }
        else
        {
            await KeyPress(e);
        }
    }
}
