@page "/"
@inject HttpClient Client
@inject CodeIndex.Common.Storage Storage

<div class="row">
    <div class="col-sm">
        <h1>Lucene Search Test Page</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Content</span>
            </div>
            <input type="text" class="form-control" placeholder="Put Your Content Here" aria-label="Put Your Content Here" @bind-value="@ContentQuery" @bind-value:event="oninput" @onkeydown="@(async e => await KeyPress(e))" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">File Name</span>
            </div>
            <input type="text" class="form-control" placeholder="Put Your File Name Here" aria-label="Put Your File Name Here" @bind-value="@FileNameQuery" @bind-value:event="oninput" @onkeydown="@(async e => await KeyPress(e))" />
        </div>
    </div>
    <div class="col-sm">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">File Extension</span>
            </div>
            <input type="text" class="form-control" placeholder="Put Your File Extension Here" aria-label="Put Your File Extension Here" @bind-value="@FileExtensionQuery" @bind-value:event="oninput" @onkeydown="@(async e => await KeyPress(e))" />
        </div>
    </div>
    <div class="col-sm">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon4">File Location</span>
            </div>
            <input type="text" class="form-control" placeholder="Put Your File Path Here" aria-label="Put Your File Path Here" @bind-value="@FilePathQuery" @bind-value:event="oninput" @onkeydown="@(async e => await KeyPress(e))" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <div class="input-group mb-3">
            <button type="button" class="btn btn-primary" @onclick="SearchLuceneIndex">Search</button>
        </div>
    </div>
    <div class="col-sm-4 form-inline">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon4">Show Results</span>
            </div>
            <select class="form-control" @bind="ShowResults">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <div class="input-group mb-3">
            @if (!FetchResult?.Status?.Success ?? false)
            {
                <div class="alert alert-danger" role="alert">
                    @FetchResult.Status.StatusDesc
                </div>
            }
            else if (FetchResult?.Status?.Success ?? false)
            {
                <div class="alert alert-success" role="alert">
                    Post Success, Find Results: @FetchResult?.Result?.Count()
                </div>
            }
            else
            {
                <div class="alert alert-info" role="alert">
                    Waiting For Search
                </div>
            }
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">File Name</th>
                <th scope="col">File Extension</th>
                <th scope="col">File Path</th>
                <th scope="col">Index Date Utc</th>
                <th scope="col">Last Write Utc</th>
                <th scope="col">Content</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @if (FetchResult?.Result != null && FetchResult.Result.Any())
            {
                foreach (var item in FetchResult.Result)
                {
                    <tr>
                        <td>@item.FileName</td>
                        <td>@item.FileExtension</td>
                        <td>@item.FilePath</td>
                        <td>@item.IndexDate</td>
                        <td>@item.LastWriteTimeUtc</td>
                        <td>
                            <pre>@((MarkupString)item.Content)</pre>
                        </td>
                        <td>
                            <a href="/Details/@item.CodePK/@System.Web.HttpUtility.UrlEncode(ContentQuery ?? string.Empty)">Details</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" class="text-center">Empty</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {

    public string SearchQuery => Search.QueryGenerator.GetSearchStr(FileNameQuery, ContentQuery, FileExtensionQuery, FilePathQuery);

    public string ContentQuery { get; set; }

    public string FileNameQuery { get; set; }

    public string FileExtensionQuery { get; set; }

    public string FilePathQuery { get; set; }

    public int ShowResults { get; set; } = 20;


    public FetchResult<IEnumerable<CodeSource>> FetchResult { get; set; }

    bool IsSearching;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        ContentQuery = Storage.GetValue("ContentQuery")?.ToString();
        FileNameQuery = Storage.GetValue("FileNameQuery")?.ToString();
        FileExtensionQuery = Storage.GetValue("FileExtensionQuery")?.ToString();
        FilePathQuery = Storage.GetValue("FilePathQuery")?.ToString();

        if (!string.IsNullOrEmpty(SearchQuery))
        {
            await SearchLuceneIndex();
        }
    }

    async Task SearchLuceneIndex()
    {
        if (IsSearching)
        {
            return;
        }

        Storage.SetOrUpdate("ContentQuery", ContentQuery);
        Storage.SetOrUpdate("FileNameQuery", FileNameQuery);
        Storage.SetOrUpdate("FileExtensionQuery", FileExtensionQuery);
        Storage.SetOrUpdate("FilePathQuery", FilePathQuery);

        IsSearching = true;
        FetchResult = null;

        try
        {
            var searchQuery = System.Web.HttpUtility.UrlEncode(SearchQuery);
            if (!string.IsNullOrEmpty(searchQuery))
            {
                FetchResult = await Client.GetJsonAsync<FetchResult<IEnumerable<CodeSource>>>("api/lucene/GetCodeSources?searchQuery=" + System.Web.HttpUtility.UrlEncode(SearchQuery) + "&showResults=" + ShowResults + "&preview=true" + "&contentQuery=" + System.Web.HttpUtility.UrlEncode(ContentQuery ?? string.Empty));
            }
            else
            {
                FetchResult = new FetchResult<IEnumerable<CodeSource>>()
                {
                    Status = new Status()
                    {
                        Success = false,
                        StatusDesc = "Search query can't be empty"
                    }
                };
            }
        }
        finally
        {
            IsSearching = false;
        }
    }

    private async Task KeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await SearchLuceneIndex();
        }
    }
}
